<% if !user_signed_in? %>
    <style>
        body{
            background: linear-gradient(
                rgba(0,0,0,0.7),
                rgba(0,0,0,0.7)
            ), url('/background.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        h1{
            color: white;
            font-weight: bold;
        }
        .container-index{
            margin-right: 15%;
            margin-left: 15%;
        }
        .text{
            color: white;
            font-weight: 300;
            font-size: 150%;
        }
        .footer-links{
            text-align: center;
            color: white;
            margin-top: 20%;
            font-size: 75%;
            word-spacing: 8px;
        }
        .log-in{
            float: right;
            width: 300px;
            height:150px;
            margin-top: 7.5%;
        }
        .sign-up{
            float: right;
            width: 300px;
            height: 250px;
        }
    </style>
    <div class="container-index row">
        <div class="col-sm-6">
            <h1>Welcome to Flutter.</h1>
            <p class="text">
                Connect with your friends. Chat with new friends. Share your adventures. <br />
                Such fancy, Much happy.
            </p>
        </div>
        <div class="col-sm-6">
            <div class="log-in panel">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="field-top">
                        <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email" %>
                    </div>
    
                    <div class="field-top">
                        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
                    </div>
    
                    <% if devise_mapping.rememberable? -%>
                        <div class="field-top">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                        </div>
                    <% end -%>
    
                    <div class="actions">
                        <%= f.submit "Log in",class:"btn btn-primary navbar-btn" %>
                    </div>
                <% end %>
            </div>
            <div class="sign-up panel">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>
                    <div class="field">
                        <%= f.text_field :username, autofocus: true, placeholder: "Username" %>
                    </div>
                    <div class="field">
                        <%= f.email_field :email, autocomplete: "email", placeholder: "Email" %>
                    </div>
                    <div class="field">
                        <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %>
                        <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
                    </div>
    
                    <div class="field">
                        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password Confirmation" %>
                    </div>
    
                    <div class="actions">
                        <%= f.submit "Sign up",class:"btn btn-primary navbar-btn" %>
                    </div>
                <% end %>
            </div>
        </div>
        <div class="col-sm-12">
            <p class="footer-links">
                About Help Blog Status Jobs Terms Privacy Ads Brand Apps Advertise Marketing Businesses Developers Directory Settings ©2018Flutter
            </p>
        </div>
       
    </div>
<% else %>
    <script>document.location = "/home";</script>
<% end %>